/*初始化*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    color: #999;
    font-size: 13px;
    font-weight: initial;
    list-style: none;
    outline: none;
}


/*mainbody25;logo50;player75;sign100;background-100;*/


/*整体布局*/

body {
    position: relative;
}

#f_fixed {
    width: 100%;
}

#fixed {
    width: 900px;
    margin: 0 auto;
}


/*logo，登录*/

#sign {
    width: 900px;
    position: fixed;
    z-index: 100;
}

#logo {
    display: inline-block;
    padding: 55px 200px 20px 45px;
    position: fixed;
    z-index: 75;
    background-color: #fff;
}

#sign_div {
    display: inline-block;
    float: right;
}


/*播放器，分享*/

#p_player {
    width: 510px;
    margin-top: 95px;
    margin-left: 390px;
    position: fixed;
    z-index: 50;
}

#player {
    height: 245px;
    background-color: #ccc;
}

#share {
    height: 150px;
    margin-top: 30px;
}


/*背景div*/

#bk_bkground {
    position: fixed;
    width: 100%;
    height: 275px;
    background-color: #E1E8E5;
    top: 170px;
    z-index: -100;
}


/*主要内容*/

#m_main_body {
    width: 900px;
    margin: 0 auto;
}

#main_body {
    display: inline-block;
    margin-top: 170px;
    position: absolute;
    z-index: 25;
}


/*底部*/

#b_bottom {
    width: 900px;
    float: left;
    position: absolute;
    margin-top: 1030px;
}

#ad_last {
    display: inline-block;
    float: left;
    margin-left: -30px;
    height: 90px;
    border: 5px solid #ddd;
}

#bottom {
    margin: 200px 0 100px;
    text-align: center;
}


/*右拉列表*/

#select_body {
    width: 675px;
    position: fixed;
    left: -650px;
    background-color: #fff;
    z-index: 500;
    box-shadow: 0 0 30px #777;
}


/**/

strong {
    font-weight: bold;
}
